body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-color: black;
}


.form{
    background-color: white;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	padding: 30px 1px;
	border-radius: 25px;
	font-family: sans-serif;
	border: 3px solid black;
	position: absolute;
}

.inputBox{
    top: 25%;
    left: 16%;
	position: absolute;
    height: 50%;
}

h2{
    position: absolute;
    left: 36%;
    top: 5%;
}

input{
	border: none;
	outline: none;
    left: 40%;
    width: 72%;
    position: absolute;
	background: transparent;
	border-bottom: 1px solid #000;
	font-size: 17px;
	font-family: sans-serif;
}
select{
    position: absolute;
    left: 40%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #000;
	font-size: 17px;
    font-family:'Times New Roman', Times, serif;
}
label.female{
    position: absolute;
    left: 41%;
}
input#male{
    position: absolute;
    left: 18%;
    width: 10%;
}
input#female{
    position: absolute;
    left: 67%;
    width: 10%;
}
input#female{
    text-align: right;
}
input#female:hover{
    text-align: right;
	transition: 0.3s;
}
input[type = "submit"]{
	border: none;
	outline: none;
	width: 240px;
	height: 40px;
	position: relative;
	border-radius: 10px;
    left: 5%;
    top: 11%;
	background-color: rgb(77, 224, 77);
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
    transition: 0.3s;
}

input[type = "submit"]:hover{
	cursor: pointer;
	width: 240px;
	height: 40px;
	background-color: white;
	color: rgb(56, 224, 79);
	border: 2px solid rgb(62, 243, 56);
    transition: 0.3s;
}

label{
	font-size: 17px;
}
