<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Assessment 1</title>
</head>
<body>
    <div class="container-main">
        <div class="form">
            <h2 align=center>Apply</h2>
            <form name="form" action="Apply/user" method="POST">
                <div class="inputBox">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Enter your Name" required><br><br>
                    <label>Email Id</label>
                    <input type="email" name="email" placeholder="Enter your Email" required><br><br>
                    <lable>Mobile</lable>
                    <input type="text" name="mobile" placeholder="Enter Your Mobile No" required/>               
                    <br>
                    <br>
                    <lable>Skills</lable>
                    <input type="text" name="skills" placeholder="Enter Your Skills" required/>
                    <br>
                    <br>
                    <input type="submit" value="Apply">
                </div>
            </form>
        </div>
    </div>
</body>
</html>