<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/userdetails.css">
    <title>Assessment 1</title>
</head>
<body>
    <h2 align = "center">Registered Sucessfully</h2>
    <table border = "2" align = "center">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Gender</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        {%for user in users%}
        <tr>
            <th>{{ user.id }}</th>
            <th>{{ user.name }}</th>
            <th>{{ user.email }}</th>
            <th>{{ user.gender }}</th>
            <th>{{ user.state }}</th>
            <th><a href="/updateUser/{{ user.id }}" id ="{{ user.id }}" >Update</a><br><br>
            <a href="/delete/{{ user.id }}" id ="{{ user.id }}" >Delete</a></th>
        </tr>
        {%endfor%}
    </table>
</body>

</html>
