<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>files Page</title>
</head>
<body>
    <form action="/uploader" method="POST" align=center enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>

    <div class = "content">
        <h2 align=center>Files Uploaded</h2>
        <table border= "1" align=center>
            <tr>
                <th>S.No</th>
                <th>Files</th>
                <th>Actions</th>
            </tr>

            {% for file in files %}
            <tr>
                <td> {{ file.id }}  </td>
                <td>{{ file.filename }}</td>
                <td><a href="/update/{{file.id}}">Update</a><br><a href="/delete/{{file.id}}">Delete</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>