<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>files Page</title>
</head>
<body>
    <h2 align=center>Update Files</h2>
    <h3 align=center>File Number : {{file.id}}</h3>
    <form align=center action="/update/{{file.id}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit"/>
        <a href="/upload">Back</a>
    </form>
</body>
</html>